@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;1,700&display=swap');

body {
    width: 100%;
    padding: 0;
    margin: 0;
    /*background: red;*/
    font-family: 'Red Hat Display', sans-serif;
}
header {
    display: flex;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding-right: 4rem;
    padding-left: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;

}

header .logo {
    color: rgba(34, 34, 34, 1);
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;

}
 header nav {
     display: flex;
     gap: 3rem;
 }
header nav a {
    text-decoration: none;
    color: rgba(34, 34, 34, 1);
}

header nav a:hover {
    text-decoration: underline;
    color: rgba(64, 47, 44, 1);
}

header .icons a {

    text-decoration: none;
    width: 24px;
    height: 24px;

}

header .icons {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}


header .icons a img{
    width: 22px;
    height: 22px;

}

header .icons a img:last-child{
    width: 18px;
    height: 18px;

}

.title {
    background-color: #F9F6F5;
    width: 100%;
    align-items: center;
    /*display: flex;
    flex-direction: row;
    justify-content: space-between;*/
}

.title_left {
    min-width: 35%;
    box-sizing: border-box;
    padding-left: 4rem;


}


.title_h1 {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #555555;
    margin-bottom: 2rem;
    padding-right: 20%;

}
.title_search {
    width: 40%;
    margin-right: auto;
    text-align: center;
    margin-left: 0;
}


.title_search input{
    border: none;
    height: 2rem;
    width: 100%;

}

.title_button {
    background-color: #402F2C;
    padding: 16px 32px;
    color: #FFFFFF;
    border: none;
    margin-top: 2rem;

}

.title_search_img {
    background-color: #402F2C;

}

.title_button:hover,
.card_button:hover {


    background-color: #555555;
    color: #FFFFFF;


}

.title_right {
    width: 75%;

}

.title_right img {
    width: 100%;
}
.partners {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.popular_product_cards {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    gap: 3rem;
}
.popular_product_cards card {
    width: 45%;

}

.popular_product_img{
    width: 100%;

}

.popular_product h2 {
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 70px;
    color: #000000;
    margin-bottom: 0;

}

.popular_product_title p{
    font-family: 'Red Hat Display',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #555555;


}
.popular_product_p{

    width: 50%;

}
.popular_product_title {
    display: flex;
    justify-content: space-between;
    width: 100%;


}

.popular_product {
    width: 100%;
    box-sizing: border-box;
    padding-right: 4rem;
    padding-left: 4rem;


    margin-left: auto;
    margin-right: auto;

}

.discover {
    width: 50%;
    display: flex;
    justify-content: end;

}

.discover p {
    align-items: center;
    vertical-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1rem;
    font-weight: 500;
    font-size: 24px;

    text-decoration-line: underline;

    color: #222222;
}

.discover img {
    width: 1rem;
}

.card {
   width: auto;
    border: 1px solid rgba(104, 90, 82, 0.19);
    box-sizing: border-box;

}
.card h3 {
    padding-left: 1rem;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    color: #222222;
}

.card p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    padding-left: 1rem;
    text-align: start;
    padding-right: 1rem;


    color: #555555;
}

.card_footer {
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-top: 3rem;
    margin-bottom: 1rem;

}

.price {
    align-items: center;
    align-self: center;

    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 32px;
    /* identical to box height, or 107% */

    text-align: right;

    color: #222222;
}

.card_button {
    background-color: #402F2C;
    padding: 16px 32px;
    color: #FFFFFF;
    border: none;
    align-self: center;
    margin-right: 1rem;

}

.advantage {
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    background-color: #FDF8F5;
    display: flex;
    justify-content: center;
    gap: 15rem;
    margin-top: 3rem;
    padding: 2rem 3rem;


    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 70px;
    /* identical to box height, or 125% */


    color: #222222;
}
.advantage div p:first-child {
    border-bottom: 3px solid #222222;
    text-align: center;
    margin-bottom: 2rem;
}

.advantage div p:last-child {
    text-decoration: none;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #555555;
    margin-top: 0;
}

.blog {
    width: 100%;
    padding-right: 4rem;
    padding-left: 4rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-top: 3rem;
}

.blog_text {
    padding-right: 2rem;

}

.blog_text h4 {
    width: 70%;
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 70px;
    /* or 125% */


    color: #000000;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.blog_text p {

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    /* or 160% */


    color: #555555;

}

.blog_text button {
    margin-top: 2rem;
}


@media (max-width: 767px) {
    header {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    header nav {
        display: none;
    }

    header .icons {
        gap: 3px;
        margin-left: 1rem;
    }

    .title {
        flex-direction: column;
        display: flex;

    }
    .title_right {
        order: 1;
        width: 100%;
    }
    .title_left {
        order: 2;
        width: 100%;
        text-align: center;
        padding-right: 2rem;
        padding-left: 2rem;

    }

    .title_h1 {
        padding-right: 0;
        padding-left: 0;

        padding-top: 1rem;
    }

    .title_search {
        width: 60%;
        padding-right: 0;
        padding-left: 0;
        margin-right: auto;
        text-align: center;
        margin-left: auto;
    }
    .title_search input {
        width: 100%;
    }
    .title_button {
        padding: 14px 30px;
        margin-right: auto;
        text-align: center;

        margin-left: auto;
        margin-bottom: 2rem;
    }

    .popular_product {
        padding-left: 0;
        padding-right: 0;
    }
    .popular_product_cards {
        display: flex;
        flex-direction: column;
        gap: 0;
        width: 100%;

    }

    .card {
        width: 100%;
    }
    .card_footer {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .card h3 {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .popular_product h2 {
        font-size: 38px;
        line-height: 30px;
        width: 100%;
        text-align: center;
    }

    .popular_product p{

        font-size: 12px;
        line-height: 20px;
        color: #555555;
        width: 100%;
        box-sizing: border-box;
        text-align: start;
        padding-right: 1rem;
        padding-left: 1rem;

    }

    .popular_product_title {
        width: 100%;
        padding-top: 1rem;

        flex-direction: column;
        box-sizing: border-box;
        padding-left: 1rem;
        padding-right: 1rem;

    }
    .discover {
        width: 100%;
        justify-content: start;
        padding-bottom: 1rem;
    }
    .discover p {
        width: auto;
    }
    .advantage {
        width: 100%;
        gap: 2rem;
        overflow-x: hidden;
        padding-right: 2rem;
        padding-left: 2rem;
        box-sizing: border-box;
    }
    .advantage div p:first-child {

        margin-bottom: 1rem;
        font-size: 40px;
    }

    .advantage div p:last-child {


        font-size: 20px;

    }
    .blog {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;

        margin-top: 3rem;
    }

    .blog_image {
        width: 100%;
        order: 1;
    }
    .blog_text {
        order: 2;
        width: 100%;
        padding-right: 2rem;
        padding-left: 2rem;
        box-sizing: border-box;
    }

    .blog_text h4 {
        width: 100%;
        font-size: 40px;
        line-height: 50px;
    }




}




@media (min-width: 768px) and (max-width: 991px) {
    header {
       /* box-sizing: border-box;
        padding-left: 2rem;
        padding-right: 2rem;*/
    }
    .title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .card_footer {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        margin-top: 1rem;
        gap: 1rem;

    }

    .card_footer div:first-child {
        display: flex;
        justify-content: space-between;
        gap:1rem;
        align-items: stretch;
        width: 100%;
    }
    .card_button {

        width: 50%;
        margin-right: 0;
        align-self: stretch;




    }


    .price {
        width: 100%;
        text-align: end;
        padding-right: 2rem;
    }
    .advantage {
        width: 100%;
        gap: 2rem;
        justify-content: space-around;
        overflow-x: hidden;
        padding-right: 2rem;
        padding-left: 2rem;
        box-sizing: border-box;
    }
    .advantage div p:first-child {

        margin-bottom: 1rem;
        font-size: 40px;
    }

    .advantage div p:last-child {


        font-size: 20px;

    }
    .blog {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;

        margin-top: 3rem;
    }
    .blog div {
        width: 100%;
    }

    .blog_image {
        width: 100%;
        order: 1;
    }
    .blog_text {
        order: 2;
        width: 100%;
        padding-right: 2rem;
        padding-left: 2rem;
        box-sizing: border-box;
    }

    .blog_text h4 {
        width: 100%;
        font-size: 40px;
        line-height: 50px;
    }

}
@media (min-width: 991px) and (max-width: 1199px) {
    header {
        /*box-sizing: border-box;
        padding-left: 3rem;
        padding-right: 3rem;*/
    }
    .title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 1200px) {
    header {
        /*box-sizing: border-box;
        padding-left: 5rem;
        padding-right: 5rem;*/
    }
    .title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
